/* @font-face{
    font-family: "bw";
    src: "assets/fonts/Broadwell-Distressed.otf"
}
.main-font{
    font-family:"bw";
} */
/* Header Classes*/
.grey_top_banner{
    background-color: rgb(246, 246, 246);
    height: 50px;
    padding-top: 10px;
    }
.icons{
    width: 15px;
}
.icons_search{
    width: 13px;
}
.icons_fav{
    width: 500px;
}
.float{
    float: right;
    display:inline-flex;
    list-style-type: none;
}
.gap{
    padding-right: 9px;
    padding-left: 9px;
    width: 30px;
}
.banner2{
	border-bottom: 2px solid rgb(246, 246, 246) ;
}

.menu{
    display:inline-flex;
    justify-content: center;
    padding-bottom: 10px;
    list-style-type: none;  
}
.gap1{
    padding-right: 9px;
    padding-left: 9px;
}
.main_logo{
    width: 375px;
    height: 100px;
}
.menu-item{
    padding-left: 9px;
    padding-right: 9px;
    font-size:14px;
    position: relative;
}


/* Footer Classes */
.foot_banner1{
	letter-spacing: 2.5px;
}
.black_banner{
    background-color: #000;
    color: white;
    margin-top: 10px;
}
.font{
    font-size: 13px;
}
.sml_img{
    width: 72px;
    padding-top: 40px;
    padding-bottom: 25px;

}
.star_img{
    width: 120px;
    padding-top: 60px;
    padding-bottom: 20px;
    height: 160px;
}
.space{
    padding-top: 9px;
    padding-bottom: 6px;
}
.link{
    text-decoration: underline;
    padding-top: 35px;
    padding-bottom: 20px;
}
.size{
    justify-content: center;
    height:320px;
}
.icon{
    width: 105px;
    padding-top: 50px;

}
.list_title{
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    list-style-type: none; 

}
.list_items{
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    list-style-type: none; 
    text-decoration: none;
    color: black;
}
.a-line{
    text-decoration: none;
}
.subscribe{
    padding-top: 30px;
}
.sub{ 
    position: relative;   
    font-size: 14px;
    border: 1px solid black;
    width: 67%;
}
.sub_btn{
    height: 39px;
    background: #000;
    color: white;
    border: none;
    padding: 0px 20px;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: -10px;
}
.grey_btm_banner{
    background: rgb(246, 246, 246);
}

.foot-pad{
    padding-top: 30px;
}
.foot-pad2{
    padding-bottom: 20px;
}
.link{
    font-size: 25px;
}

/* Index */
.img_show{
    letter-spacing: 2px;
}
.margin{
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.img-show-pad{
    padding-top: 35px;
    padding-bottom: 25px;

}
.title1{
    font-size: 14px;
}
.title2{
    
    font-size: 25px;
    padding-bottom: 15px;
}


.btn1{
    font-size: 13px;
    border-radius: 0px;
    width: 195px;
    text-align: center;
    margin: 0 auto;
}


.show1{
    letter-spacing: 2px;
}
.rel{
    margin-top: 150px ;
    margin-bottom: 50px ;
    position: relative;
}
.img_top{
    position: absolute;
    bottom: 50%;
    
}
.img_btm{
position: relative;
z-index: -1;
}
.s1-desc{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    width: 390px;
    font-size: 13px;

}
.s1-btn{
    font-size: 13px;
    border-radius: 0px;
    width: 195px;
}

.s1-title{
    font-size: 26px;
    padding: 30px 0 20px 0;
}

.show3{
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.grey_banner{
    background: rgb(246, 246, 246);
}
.img_big{
    padding-top: 90px;
    float:right;
}
.img_sml{
    width: 177px;
    height: 300px;
    padding-bottom: 30px;

}
.pad{
    padding-top: 120px;
}
.size{

    padding-top: 25px;
    font-size: 13px;

}
.btn1{
    font-size: 13px;
    border-radius: 0px;
    width: 195px;
    text-align: center;
    padding: 10px 45px;
}
.desc1{
    padding-top: 30px;
    width: 570px;
    height: 212px;
}
.desc2{
    padding: 25px 0 25px 0;
    font-size: 13px;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 23px;
    padding: 30px 0 20px;
}
.btn2{

    font-size: 13px;
    border-radius: 0px;
    width: 195px;
    margin: 50px 0 50px 350px;

}
