/* @font-face{
    font-family: "bw";
    src: "assets/fonts/Broadwell-Distressed.otf"
}
.main-font{
    font-family:"bw";
} */
/* Header Classes*/
.grey_top_banner{
    background-color: rgb(246, 246, 246);
    height: 50px;
    padding-top: 10px;
    }
.icons{
    width: 15px;
}
.icons_search{
    width: 13px;
}
.icons_fav{
    width: 500px;
}
.float{
    float: right;
    display:inline-flex;
    list-style-type: none;
}
.gap{
    padding-right: 9px;
    padding-left: 9px;
    width: 30px;
}
.banner2{
	border-bottom: 2px solid rgb(246, 246, 246) ;
}

.menu{
    display:inline-flex;
    justify-content: center;
    padding-bottom: 10px;
    list-style-type: none;  
}
.gap1{
    padding-right: 9px;
    padding-left: 9px;
}
.main_logo{
    width: 375px;
    height: 100px;
}
.menu-item{
    padding-left: 9px;
    padding-right: 9px;
    font-size:14px;
    position: relative;
    color: #000;
}


/* Footer Classes */
.foot_banner1{
	letter-spacing: 2.5px;
}
.black_banner{
    background-color: #000;
    color: white;
    margin-top: 10px;
}
.font{
    font-size: 13px;
}
.sml_img{
    width: 72px;
    padding-top: 40px;
    padding-bottom: 25px;

}
.star_img{
    width: 120px;
    padding-top: 60px;
    padding-bottom: 20px;
    height: 160px;
}
.space{
    padding-top: 9px;
    padding-bottom: 6px;
}
.link{
    text-decoration: underline;
    padding-top: 35px;
    padding-bottom: 20px;
}
.size{
    justify-content: center;
    height:320px;
}
.icon{
    width: 105px;
    padding-top: 50px;

}
.list_title{
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    list-style-type: none; 

}
.list_items{
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    list-style-type: none; 
    text-decoration: none;
    color: black;
}
.a-line{
    color: #000;
    text-decoration: none;
}
.subscribe{
    padding-top: 30px;
}
.sub{ 
    position: relative;   
    font-size: 14px;
    border: 1px solid black;
    width: 67%;
}
.sub_btn{
    height: 39px;
    background: #000;
    color: white;
    border: none;
    padding: 0px 20px;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: -10px;
}
.grey_btm_banner{
    background: rgb(246, 246, 246);
}

.foot-pad{
    padding-top: 30px;
}
.foot-pad2{
    padding-bottom: 20px;
}
.link{
    font-size: 25px;
}

/* Index */
.img_show{
    letter-spacing: 2px;
}
.margin{
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.img-show-pad{
    padding-top: 35px;
    padding-bottom: 25px;

}
.title1{
    font-size: 14px;
}
.title2{
    
    font-size: 25px;
    padding-bottom: 15px;
}


.btn1{
    font-size: 13px;
    border-radius: 0px;
    width: 195px;
    text-align: center;
    margin: 0 auto;
}


.show1{
    letter-spacing: 2px;
}
.rel{
    margin-top: 150px ;
    margin-bottom: 50px ;
    position: relative;
}
.img_top{
    position: absolute;
    bottom: 50%;
    
}
.img_btm{
position: relative;
z-index: -1;
}
.s1-desc{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    width: 390px;
    font-size: 13px;

}
.s1-btn{
    font-size: 13px;
    border-radius: 0px;
    width: 195px;
}

.s1-title{
    font-size: 26px;
    padding: 30px 0 20px 0;
}

.show3{
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.grey_banner{
    background: rgb(246, 246, 246);
}
.img_big{
    padding-top: 90px;
    float:right;
}
.img_sml{
    width: 177px;
    height: 300px;
    padding-bottom: 30px;

}
.pad{
    padding-top: 120px;
}
.size{

    padding-top: 25px;
    font-size: 13px;

}
.btn1{
    font-size: 13px;
    border-radius: 0px;
    width: 195px;
    text-align: center;
    padding: 10px 45px;
}
.desc1{
    padding-top: 30px;
    width: 570px;
    height: 212px;
}
.img-1{
width: 100%;
height: 400px;
}
.desc2{
    padding: 25px 0 25px 0;
    font-size: 13px;
    text-align: center;
}
.p2-title{
    text-align: center;
    font-size: 23px;
    padding: 30px 0 20px;
}
.sub-btn2{
    font-size: 13px;
    border-radius: 0px;
    width: 195px;
    margin: 50px 0 50px 276px;
}


/* Contact Us */
.inner_page_head{
    margin-top: 70px;
    margin-bottom: 70px;
}
.label{
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.contact_title{
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 29px;
}
.contact_desc{
    font-size: 13px;
    padding-bottom: 19px;
}

.box-info{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 8px;
    width: 100%;
    height: 50px !important;
}
.box-mssg{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 8px;
    width: 100%;
}
.placeholder-info{
    color: rgb(129, 129, 129); 
    font-size: 13px;
}
.placeholder-mssg{
    color: rgb(129, 129, 129); 
    font-size: 13px;
    left: 10px !important;
}
.form-control:focus{
    border-color: #202529;
    box-shadow: 0 0 0 0.25rem rgb(43 48 54 / 25%);
}
.sub-btn{
    width: 200px;
    margin-top: 50px;
    border: 0px;
    border-radius: 0px;
    float: right;
    background: #000;
}

/* About Us  */
.heading{
    letter-spacing: 2px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.tm-main{
    width: 100%;
    height: 450px;
}
.tm_main_title{
    font-size: 25px;
    padding: 15px 0 15px 0;
}
.tm_sub_title{
    font-size: 13px;
    padding: 5px 0 50px;
}

.our_mission{
    position: relative;
}
.om_img{
    position: relative;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.5);
    margin-top: 30px;
    margin-bottom: 30px;
}    

.centered {

position: absolute;
transform: translate(20%,0%);
font-size: 19px;
color: white;
width: 70%;
top: 40%;
    }
.cycle{
    margin-top: 30px;
    margin-bottom: 70px;




}
.btn1{
    font-size: 13px;
    border-radius: 0px;
    width: 155px;
    text-align: center;
    margin: 0 auto;
}

.c_title{
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 24px;
}
.c_desc{
    font-size: 12.5px; 
}

/* Press  */
.press_desc{
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.p_desc{
    padding-top: 15px;
    padding-bottom: 40px;
    width: 55%;
    text-align: center;
}
.p_title{

    padding-bottom: 40px;
    font-size: 27px;
}
.p_sub{
    font-size: 13px;
}


.press_content{
    margin-top: 10px;
    margin-bottom: 80px;
}
.p_img{
    height: 250px;
    width: 250px;
}
.p_bnt{
    font-size: 13px;
    border-radius: 0px;
    width: 155px;
    text-align: center;
    margin: 0 auto;
}
.p_img_sub{
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    padding-left: 40px;
    color: #000;
    text-decoration: none;
}

.current{
    text-decoration: underline;
}

/* Article  */
.article{
	margin-top: 50px;
	margin-bottom: 60px;
}
.art_maintitle{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 50px;
}
.art_title{
    font-size: 28px;
    text-align: right;
}
.art_desc{
    font-size: 13px;
    text-align: right;
}
.art_img{
    height: 515px;
    width: 614px;
}
.art_img_size{
    width: 100%;
}
.art_link{
    font-size: 13px;
    text-decoration: underline;
    float: right;
}

.info{
	margin-top: 100px;
	margin-bottom: 50px;
	letter-spacing: 2px;
}
.info_border{
    border-bottom: 1px solid rgb(151, 151, 151);
    border-top: 1px solid rgb(151,151,151);
}
.info_txt{
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 15px;
    cursor: pointer;
}
.info_txt2{
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 15px;
    cursor: pointer;
    float: right;
}
.backbtn{
	letter-spacing: 2px;
	font-size: 16px;
	color:rgb(151,151,151);
	float:left;
	cursor: pointer;

}

.modal-header{
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: none;
}
.alert_size{
	font-size: 20px;
	width: 150px;
}
.modal-body{
	padding-left: 50px;
	padding-right: 50px;
	justify-content: center;
	margin-bottom: 50px;
}
.txt_size{
	font-size: 18px;
	text-align: center;
}
.icon_size{
	padding-top: 20px;
	font-size: 30px;
	text-align: center;
}

